body{
    font-family: "Source Sans Pro", sans-serif;
}

.flexbox-container{
    display: flex;
    justify-content: flex-start;
}

.main-header{
    width: 200px;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.headshot {
    object-fit: cover;
    border-radius: 80%;
    width: 200px;
    height: 200px;
}

.main-content{
    margin: 30px;
}
